.info-table {
    border-collapse: collapse;
    width: 100%;
}

.info-table th,
.info-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.info-table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.info-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.info-table tr:hover {
    background-color: #ccc;
}


.edit-form {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-heading {
    margin-top: 0;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button[type="submit"] {
    width: 100%;
    height: 35px;
    background-color: #4CAF50;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}


.go-back-section {
    text-align: center;
    margin-bottom: 20px;
}

.go-back-section button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.go-back-section button:hover {
    background-color: #3e8e41;
}