<section class="go-back-section">
    <button [routerLink]="['']">Go back</button>
</section>

<article>
    <section class="listing-details">
        <table class="info-table">
            <tr>
                <th>First Name:</th>
                <td>{{student?.firstName}}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{student?.lastName}}</td>
            </tr>
            <tr>
                <th>Year:</th>
                <td>{{student?.year}}</td>
            </tr>
            <tr>
                <th>City:</th>
                <td>{{student?.city}}</td>
            </tr>
            <tr>
                <th>Phone Number:</th>
                <td>{{student?.phoneNumber}}</td>
            </tr>
        </table>
    </section>

    <section class="edit-form">
        <h2 class="form-heading">Edit student</h2>
        <!-- () For edit binding -->
        <form [formGroup]="editForm" (submit)="submitEdit()">
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" formControlName="firstName">
            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" formControlName="lastName">

            <button type="submit" class="primary">Save</button>

        </form>
    </section>


</article>